@keyframes float-shadow {

    0%,
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translate(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translate(-20px);
    }
}

@keyframes float {

    0%,
    100% {

        transform: translate(0px, 0px);
    }

    50% {

        transform: translate(-20px, 10px);
    }
}

@keyframes float2 {

    0%,
    100% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(20px, -10px);
    }
}

@keyframes float3 {

    0%,
    100% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(-15px, 15px);
    }
}

@-webkit-keyframes magic-mouse {
    0% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }
}

@-moz-keyframes magic-mouse {
    0% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }
}

@-ms-keyframes magic-mouse {
    0% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }
}

@keyframes magic-mouse {
    0% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }
} 